NODE_ENV=production
PORT=3000
FRONTEND_URL=https://tap-forge-front.vercel.app

TELEGRAM_BOT_TOKEN=8758916474:AAEGpPD0N9wHn21wWYK3kN0xEDmoaP6THwE
TELEGRAM_BOT_USERNAME=AITapForge_bot
MINI_APP_URL=https://tap-forge-front.vercel.app

DATABASE_URL=postgresql://neondb_owner:npg_RONd8jcg9BTb@ep-soft-tooth-a2dzh7jm-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_DATABASE_URL=postgresql://neondb_owner:npg_RONd8jcg9BTb@ep-soft-tooth-a2dzh7jm.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

JWT_SECRET=0518cdc957291f8a12f0a7919b4fad4b5d9b6de563f4fb42ef05a5f7d9e265bfc97fca378a5f08e2d238f55cf6eec83a
JWT_EXPIRES_IN=7d
